---
const { description, defaultProp, type, required } = Astro.props;
---

<div>
	<p class="description">
		{description}
	</p>
	<div class="flex">
		<div>
			<b>Type</b>
			<p>{type}</p>
		</div>
		<div>
			<b>Default</b>
			<p>{defaultProp}</p>
		</div>
		<div>
			<b>Required</b>
			<p>{required ? 'Yes' : 'No'}</p>
		</div>
	</div>
</div>

<style>
	.title {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 0rem;
	}

	.description {
		margin-top: 0rem;
	}

	.flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		& > div {
			margin-top: 0 !important;
		}
	}

	b, p {
		margin-top: 0.2rem !important;
	}
</style>
